@import "@/assets/css/public";

.login-box {
  padding: 0 15px;

  .title {
    color: $primary-color;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
  }

  .icons {
    margin-top: 150px;
    text-align: center;

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}
